.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#kudo-card{
  padding: 0;
  overflow: hidden;
  margin-bottom: 1.4em;
}

#kudo-title {
  font-size: 30px;
  color: #ffff;
  font-weight: bolder;
  text-transform: uppercase;
}

#kudo-message {
  word-break: break-word;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
  font-style: italic;
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

a.title-link:hover {
  color: #FFFFFFFF;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}

.display {
  display: flex;
}

.mr {
  margin-right: 3%;
}

.container {
  padding: 1em;
}

.panel {
  float: left;
  padding: 0;
}

.panel-default>div.panel-heading {
  background-image: none;
}

.panel-body {
  min-height: 350px;
}

.panel-img-top {
  float: left;
  height: 200px;
  min-width: 30%;
  width: auto;
}

.panel-img-bottom{
  height: 45px;
  min-height: 0%;
  min-width: 25%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  border-radius: 2em;
}

div.format-round {
  border-radius: 50%;
}

div.format-square {
  border-radius: 0;
}

div.format-squircle {
  border-radius: 2em;
}

div.format-rounded-rectangle {
  border-radius: 4em;
}

div.format-rectangle {
  border-radius: 1em;
}

.kudo-text {
  margin-left: 20px;
  font-size: 1.2em;
}

.kudo-addressing {
  margin-bottom: 1rem;
}

.kudo-addressing > p {
  padding: 0;
  margin: 0;
}
