.form-disabled label {
  color: #3b3b3b;
}

button.btn[disabled] {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}

button.btn[disabled]:hover {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}

div.form-group.has-error .control-label {
  color: #ff4136;
}

#edit-card-info-add-new {
  margin-bottom: 1em;
}


